{% extends "base.html" %}

{% block title %}Game Creator{% endblock %}

{% block css_injection %}
<link rel="stylesheet" href="{{ url_for('static', filename='GameCreation.css') }}">
{% endblock %}

{% block content %}




<div class="UI_container" id="create_game_box">
    <div class="new_game_header">
        <h1>Start a New Game</h1>

        <p class="requirements">Each game requires a minimum of <strong>three</strong> players</p>
        <p class="requirements">One Mr. X will be randomly selected</p>
        <p class="requirements">All other players will be detectives</p>
        <p class="requirements">Select <strong>Start New Game</strong> if you want to host a new game with your friends</p>
        <p class="requirements">Otherwise, select <strong>Join Game</strong> if you have a code to join a lobby</p>
    </div>

    <div class="inputs">
        <input type="text" id="game_name_input" placeholder="Enter Game Name">
        <input type="number" id="player_count_input" placeholder="Players (min 3)" min="3">
        <input type="text" id="leader_name_input" placeholder="Enter Your Nickname">
    </div>
</div>
<div class="buttons" id="make_game_buttons">
    <button onclick="createGame()" class="button">Start New Game</button>
    <button onclick="joinGame()" class="button">Join Game</button>
</div>


<div id="loading_message" style="display:none;" class="mid-text">
    <h3 id="loading_text">Creating lobby</h3>
</div>



<div id="lobby" style="display:none;">

    <h2 id="lobby_title">Lobby</h2>

    <div class="lobby_center">
        <p>Game Code</p>
        <strong id="game_code"></strong>
        <div class="qr_space" id="qr_code"></div>
        <p class="players_title">
            Players
        </p>
    </div>

    <div id="player_places" class="player_places">

        </div>
    </div>

</div>


<div id="join_lobby" style="display:none;">
    <h2>Join Game</h2>

    <div class="join_row">
        <div class="join_inputs">
            <input type="text" id="nickname_input" placeholder="Enter Nickname">
            <input type="text" id="join_code_input" placeholder="Enter Game Code">
        </div>
        <button onclick="submitJoin()" class="button">Join</button>
    </div>

</div>

<div id="start_game" style="display: none;"> 
    <div class="buttons">
        <button onclick="startGame()" class="button">Start Game</button>
        <button onclick="resetLobby()" class="button">Reset Lobby</button>
    </div>
</div>

<div id="top_message" class="top_message hidden">
    <span id="top_message_text"></span>
    <button id="top_message_x" onclick="hideTopMessage()">×</button>
</div>







<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='GameCreation.js') }}"></script>


{% endblock %}