


{% block css_injection %}
<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
{% endblock %}

<body>

    <button class="menu-toggle" id="menuToggle">☰</button>



    <div class="sidebar" id="sidebar">
        <a href="/">Home</a>
        <a href="/play">Start New Game</a>
        <a href="/rules">Game Rules</a>
        <a href="/phone">Join on Phone</a>

        <button id="darkModeBtn" class="sidebar-dark-mode">🌙</button>
    </div>

    <script>
        const menuToggle = document.getElementById('menuToggle');
        const sidebar = document.getElementById('sidebar');
        
        menuToggle.addEventListener('click', function() {
            sidebar.classList.toggle('active');
        });
        
        // Close sidebar when a link is clicked
        const sidebarLinks = sidebar.querySelectorAll('a');
        sidebarLinks.forEach(link => {
            link.addEventListener('click', function() {
                sidebar.classList.remove('active');
            });
        });
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>