footer{
    background-color: var(--background-colour);
    color: var(--font-colour);
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    flex-shrink: 0;
}
