body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfc8d6;
    font-family: Arial, sans-serif;
    padding-top: 200px;
}

/* Main container */
.loading-container {
    width:  100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 15px;
}

/* Logo can replace with whatever */
.logo img {
    width: 450px;
}


/* Fading out progress bar */
.loading-content {
    transition: opacity 1s ease;
}

.loading-content.hide {
    opacity: 0;
}

/* background bar/ main bar */
.loading-bar {
    width: 300px;
    height: 35px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

/* the progress that fills up */
.progress {
    height:  100%;
    width: 0%;
    background-color: black;
    transition: width 0.3s ease;
}

.percentage {
    margin-top: 15px;
    font-size: 18px;
    color: black;
    text-align: center;
}