
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-size: cover;
    overflow-x: hidden;
}

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.phone-wrap {
    max-width: 360px;
    height: 640px;
    width: 100%;
    margin: 0 auto;
    background: #0f172a;
    border: 2px solid #ffffff6c;
    padding: 12px;
    border-radius: 8px;
    box-sizing: border-box;
}

.row { 
    display:flex; 
    gap:8px; 
    align-items:center; 
    margin-bottom:10px; 

}

.col { 
    flex:1; 

}

h1 { 
    font-size:20px; 
    margin:0 0 8px 0; 
    color:linen; 
}
            
.tickets { 
    display:flex; 
    gap:6px; 
    flex-wrap:wrap; 
}

.ticket { 
    border:1px solid #333444; 
    padding:8px; 
    border-radius:6px; 
    background:#040a24; 
    color:#fff; 
    font-family:'Lucida Console', monospace; 
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    gap:6px; 
    min-width:64px; 
}

.ticket-img { 
    font-size:28px; 
}

.ticket-label { 
    font-size:13px; 
    color:linen; 
}

.ticket-count { 
    font-size:16px; 
    font-weight:bold; 
    color:#fff; 
}

.big-btn {
    border:2px solid #333444; 
    width:100%; 
    padding:10px; 
    font-size:16px; 
    background: #040a24;  
    color:#fff; 
    cursor:pointer;
    border-radius: 10px; 
}
            
input[type="number"], input[type="text"] { 
    width:100%; 
    padding:8px; 
    background:#111; 
    color:#fff; 
    border:1px solid #333; 
}
           
textarea { 
    width:100%; 
    min-height:90px; 
    padding:8px; 
    background:rgba(0,0,0,0.6); 
    color:#fff; 
    border:1px solid #333; 
    box-sizing:border-box; 
    font-family:'Lucida Console', monospace; 
    resize:vertical; 
}
            
.notes-footer { 
    font-size:12px; 
    color:#fff; 
    margin-top:6px; 
}
.small-btn {   
    padding:8px 10px; 
    background: #040a24; 
    border:1px solid #333444; 
    color: #fff; 
    cursor:pointer; 
    font-size:14px;
    border-radius: 10px; 
}

.status { 
    font-size:12px; 
    color:#ccc; 
    margin-top:8px; 
}

.show-notes {
    display: inline-block;
    padding: 12px 20px;
    background-color: #040a24;
    border:2px solid #333444; 
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}