<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='LoadingScreen.css') }}">

</head>

<body>

<!-- Main container -->
<div class = "loading-container">

    <!-- Logo -->
    <div class = "logo">
        <img src='ScotlandYardLogo.png' alt='Scotland Yard Logo'>
    </div>

    <!-- fading out load bar class -->
    <div class="loading-content" id ="loadingContent">
        
        <!-- Main bar -->
        <div class = "loading-bar">

            <!-- Progress bar -->
            <div class = "progress" id = "progress"></div>
        </div>

        <!-- Percentage -->
         <div class="percentage" id = "percentage"> 0%</div>

    </div>

</div>

<script src="{{ url_for('static', filename='LoadingScreen.js') }}"></script>
</body>
</html>