<!DOCTYPE html>
<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    <script>
        const socket=io();

        function move(detective, locationTo, method)
        {
            socket.emit(
                'move', 
                {
                    detective,
                    locationTo,
                    method
                }
            );
        }
    </script>
    <body>
        <button onclick="move('red', '2', 'taxi')">Move Detective</button>
    </body>
</html>